@model ArticleListingVM
@{
    ViewData["Title"] = "All Articles";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <ul class="list-group article-list">
            @foreach (var article in Model.Articles)
            {
                <li class="list-group-item">
                    <a asp-action="Details" asp-route-id="@article.Id" asp-route-title="@article.Title.ToFriendlyUrl()">@article.Title</a>
                    <small>published by @article.Author on @article.PublishDate.ToShortDateString()</small>
                </li>
            }
        </ul>
    </div>
</div>

<ul class="pagination">
    <li class="page-item">
        <a class="page-link" href="?page=@Model.PreviousPage" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
    }
    <li class="page-item">
        <a class="page-link" href="?page=@Model.NextPage" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>

